.nav-link{
    display: block;
    padding: .5rem 1rem;
    color: wheat;
    font-weight: 700;
    font-size: 20px;
}
.grey-bg {  
    background-color: #F5F7FA;
}
.text-uppercase{
    font-weight: 800;
    color: rgb(216, 153, 35);
}